html{
	margin: 0;
	padding: 0;
}

body{
	background-color: #070026 !important;
	margin: 0;
	padding: 0;
	
}

.shapka{
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.name{
	position: absolute;
	top: 25%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.name h1{
	font-size: 7vw;
	font-family: Philosopher;
	animation: fadeIn 3s ease-in-out;
	transition: transform 0.5s;
	position: static;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transition: transform 0.7s;
	}
}

@media (max-width: 1440px){
	.name{
		top: 33%;
	}
}

@media (max-width: 1024px){
	.name{
		top: 10%;
	}
}

@media (max-width: 820px){
	.name{
		top: 10%;
	}

}

@media (max-width: 768px){
	.name{
		top: 12%;
	}
	.minitotoro{
		top: 50%;
	}
}

@media (min-width: 420px) and (max-width: 480px){
	.name{
		top: 7%;
	}
}

@media (min-width: 375px) and (max-width: 425px){
	.name{
		top: 8%;
	}
}


@media (min-width: 321px) and  (max-width: 375px){
	.name{
		top: 7%;
	}
}

@media (max-width: 320px){
	.name{
		top: 10%;
	}
}

.minitotoro{
	width: 43px;
	height: auto;
	position: absolute;
	left: 92%;
	top: 35%;
}

@media (max-width: 820px){
	.minitotoro{
		width: 33px;
	height: auto;
		top: 28%;
		left: 90%;
	}

}

@media (max-width: 768px){
	.minitotoro{
		width: 33px;
	height: auto;
		top: 25%;
		left: 88%;
	}

}

@media (min-width: 420px) and (max-width: 480px){
	.minitotoro{
		top: 22%;
		left: 89%;
		width: 22px;
	height: auto;
	}
}

@media (min-width: 375px) and (max-width: 425px){
	.minitotoro{
		top: 28%;
		left: 90%;
		width: 16px;
	height: auto;
	}
}

@media (min-width: 321px) and  (max-width: 375px){
	.minitotoro{
		top: 28%;
		left: 90%;
		width: 16px;
	height: auto;
	}
}





.egorlox{
	top: 150px;
	position: relative;
}

.col-md-6 h2{
    font-family: "Philosopher", serif;
    font-size: 52px;
    margin-left: -5px;
    color: white;
}

.col-md-6 p{
    font-family: "Lora", serif;
    font-style: normal;
    font-size: 18px;
    color: white;
}

.col-md-6 img{
    height: 700px;
}

footer{
    margin-top: 300px;
}

footer img{
    width: 40px;
    height: 40px;
}

footer p{
    font-size: 20px;
}

footer p1{
    color: #707070;
}

.gray{
    color: #727272;
}


@media (min-width: 850px) and (max-width: 1024px){
    .col-md-6 img{
        height: 635px;
    }
}

@media (min-width: 530px) and (max-width: 768px){
    .col-md-6 img{
        height: 480px;
    }  
}

@media (min-width: 385px) and (max-width: 430px){
    .col-md-6 img{
        height: 530px;
    }
}

@media (min-width: 700px) and (max-width: 1024px){
    .col-md-6 img{
        height: 480px;
    }
}

@media (min-width: 380px) and (max-width: 425px){
    .col-md-6 img{
        height: 550px;
    }
}

@media (min-width: 330px) and (max-width: 375px){
    .col-md-6 img{
        height: 490px;
    }
}

@media (min-width: 385px) and (max-width: 430px){
   .col-md-6 h2{
   		font-size: 28px;
   } 
     .col-md-6 p{
   		font-size: 12px;
   } 
}